@{
    ViewData["Title"] = "You are already applied for this offer!";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<br />

<div class="text-center">
    <a asp-controller="Home" asp-action="Index"><h2>Go to home page</h2></a>
</div>

