@{
    ViewData["Title"] = "Thank you for applying!";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<br />

<div class="text-center">
    <a asp-controller="Home" asp-action="Index" class="text-center"><h2>Go to home page</h2></a>
</div>