@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "All offers by category";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<h2 class="text-center">You can edit, read and delete all offers</h2>
<hr />

<br />

<div class="text-center row">
    @foreach (var category in Model)
    {
        <div class="card col-4">
            <div class="card-body">
                <a asp-route-categoryId="@category.Id" asp-controller="Offer" asp-action="OffersInCategory">@category.Title</a>
                <p>Total @category.Offers offers</p>
            </div>
        </div>
    }
</div>


