@using Microsoft.AspNetCore.Identity
@using JobPortalProject.Infrastructure.Data.Entities
@using JobPortalProject.Core.Contracts
@inject SignInManager<Employee> SignInManager
@inject UserManager<Employee> UserManager
@inject IEmployerService service

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    @if (await service.ExistsById(UserManager.GetUserId(User)) == false)
        {
            <li>
                <a class="nav-link text-dark"  asp-controller="Employer" asp-action="Become">Become Employer</a>
            </li>
        }
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="ShowUserInfo">My Account</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-controller="User" asp-action="Login">Login</a>
    </li>
}
</ul>
