@{
    ViewData["Title"] = "Add new Offer";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<partial name="_OfferFormPartial" model="@Model" />

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
