@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Job Portal";
}

@*<h1 class="text-center">@ViewData["Title"]</h1>*@
<h3 class="text-center">Welcome to...</h3>
<h1 class="text-capitalize text-danger text-center text-opacity-100"><strong>MITKOJOBS</strong></h1>
<hr />

<h2 class="text-center">Look at all offers sorted by category</h2>
<br />

<div class="text-center row">
    @foreach (var category in Model)
    {
        <div class="card col-4">
            <div class="card-body">
                <a asp-route-categoryId="@category.Id" asp-controller="Offer" asp-action="ShowAllOffersInCategory">@category.Title</a>
                <p>Total @category.Offers offers</p>
            </div>
        </div>
    }
</div>


