@model IEnumerable<CategoryViewModel>

@{
    ViewData["Title"] = "Job Portal";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<h2 class="text-center">Look at all offers sorted by category</h2>
<br />

<div class="text-center row">
    @foreach (var category in Model)
    {
        <div class="card col-4">
            <div class="card-body">
                <p>@category.Title</p>
                <p>Total @category.Offers offers</p>
            </div>
        </div>
    }
</div>


